---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
date: 2019-01-01
---

<h1>notes</h1>

{% set postslist = collections.posts | head(-10) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
